*.log
Saved/Config/CrashReportClient/
Saved/Backup/
Saved/Autosaves/
Saved/Crashes/UE4CC-Windows-48B6BF674DEFDA30B49C878F68D62A00_0000/CrashContext.runtime-xml
Saved/Crashes/
Saved/AutoScreenshot.png
